In [ ]:
import sqlite3
import pandas as pd
from tqdm import tqdm_notebook as tqdm

In [ ]:
# Connexion to the database
sqlite_file = 'Database/test.sqlite'
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

In [ ]:
myTable = 'all_results'
createTable = 'CREATE TABLE {} (id INTEGER PRIMARY KEY, year INTEGER, bib INTEGER, name TEXT, gender TEXT, finish_time TEXT,  net_time TEXT, place INTEGER, place_by_gender INTEGER, place_by_division INTEGER, division_5year TEXT, division_10year TEXT)'.format(myTable)
dropTable = 'DROP TABLE  {} '.format(myTable)

In [ ]:
c.execute(createTable)

In [ ]:
yearValue = 2006

file = 'data/output_' + str(yearValue) + '.csv'
df = pd.read_csv(file)
df.head()

In [ ]:
for yearValue in tqdm(range (2001, 2018)):
    file = 'data/output_' + str(yearValue) + '.csv'
    df = pd.read_csv(file)
    max = df.shape[0] - 1
    
    
    for i in range (0, max):
        row = df.iloc[i,:]
        bibValue = row['Bib']

        if (yearValue > 2010):
            division10yValue = row['Division']
            division5yValue = 'null'
        elif (yearValue < 2008):
            division5yValue = 'null'
            division10yValue = 'null'
        else:
            division5yValue = row['Division']
            division10yValue = 'null'

        finishTimeValue = row['Finish Time']

        if ('Gender' in row):

            placeByGenderValue = row['G/Pl']
            genderValue = row['Gender']
        else:
            placeByGenderValue = 'null'
            genderValue = 'null'

        if (yearValue < 2008):
            placeByDivision = 'null'
        else:
            placeByDivision = row['D/Pl']


        nameValue = row['Name']
        nameValue = nameValue.replace('"', '')

        if ('Net Time' in row):
            netTimeValue = row['Net Time']
        else:
            netTimeValue = 'null'

        placeValue = row['Place']

        #print(i)

        if pd.isnull(bibValue):
            bibValue = 'null'

        if pd.isnull(placeByDivision):
            placeByDivision = 'null'

        if pd.isnull(division10yValue):
            division10yValue = 'null'
        else: 
            division10yValue = '"' + division10yValue + '"'

        if pd.isnull(division5yValue):
            division5yValue = 'null'
        else: 
            division5yValue = '"' + division5yValue + '"'

        if pd.isnull(finishTimeValue):
            finishTimeValue = 'null'
        else: 
            finishTimeValue = '"' + finishTimeValue + '"'

        if pd.isnull(netTimeValue):
            netTimeValue = 'null'
        else: 
            netTimeValue = '"' + netTimeValue + '"'

        if pd.isnull(placeByGenderValue):
            placeByGenderValue = 'null'

        if pd.isnull(genderValue):
            genderValue = 'null'
        else: 
            genderValue = '"' + genderValue + '"'

        if pd.isnull(nameValue):
            nameValue = 'null'
        else: 
            nameValue = '"' + nameValue + '"'

        if pd.isnull(placeValue):
            placeValue = 'null'


        insertRow = 'INSERT INTO {} (year, bib, name, gender, finish_time, net_time, place, place_by_gender, \
        place_by_division, division_10year, division_5year) VALUES ({},{},{},{},{},{},{},{},{},{},{})'\
        .format(myTable, yearValue, bibValue, nameValue, genderValue, finishTimeValue, netTimeValue, placeValue,\
                placeByGenderValue, placeByDivision, division10yValue, division5yValue)
        #print(insertRow)

        c.execute(insertRow)

In [ ]:
# Committing changes and closing the connection to the database file
#c.execute(dropTable)
conn.commit()
conn.close()